<div class="modal">
  <h2 class="modal__title">Registrar Producto</h2>
  <button class="modal__close" (click)="closeModal()">
    <span class="material-symbols-outlined"> close </span>
  </button>
  <form class="modal__form" (ngSubmit)="onSubmit()" [formGroup]="formularioRegistration">
    <div class="form__input-container">
      <div class="input__container">
        <label for="productName">Nombre</label>
        <input type="text" formControlName="name" name="productName" id="productName" />
        @if (hasError("name","required")) {
        <p class="error__message">El campo es requerido</p>
        }
      </div>
      <div class="input__container">
        <label for="productPrice">Precio</label>
        <input type="number" formControlName="price" name="productPrice" id="productPrice" />
        @if (hasError("price","required")) {
        <p class="error__message">El campo es requerido</p>
        }
      </div>
      <div class="input__container">
        <label for="productMinStock">Stock Mínimo</label>
        <input type="number" formControlName="minStock" name="productMinStock" id="productMinStock" />
        @if (hasError("minStock","required")) {
        <p class="error__message">El campo es requerido</p>
        }
      </div>
      <div class="input__container">
        <label for="productCategory">Categoría</label>
        <select name="productCategory" id="productCategory" formControlName="categories" class="input__select">
          @for (category of categories; track category.category_id) {
            <option value="{{ category.category_id }}">{{ category.name }}</option>
          }
        </select>
      </div>
      <div class="input__container input__container--full">
        <label for="productDescription">Descripción</label>
        <textarea
          name="productDescription"
          id="productDescription"
          formControlName="description"
        ></textarea>
        @if (hasError("description","required")) {
        <p class="error__message">El campo es requerido</p>
        }
      </div>
    </div>
      <button type="submit" class="submit__button">Registrar</button>
  </form>
</div>