<main class="inicio__view">
  <section class="view__main">
    <header class="main__header">
      <h1 class="header__title">Hola, Administrador</h1>
      <p class="header__date">{{fechaFormateada}}</p>
    </header>

    <section class="main__summary">
      <article class="summary__card card--green">
        <p>Esta semana se vencen</p>
        <strong> {{lots().length}} lote(s)</strong>
      </article>
      <article class="summary__card card--white">
        <h2>Hay escasez en</h2>
        <p>{{productsWithLowStock()}} producto(s)</p>
      </article>
      <article class="summary__card card--green">
        <p>Mermas del Mes</p>
        <strong>$ {{costOfShrinksOfTheMonth()}} COP</strong>
      </article>
    </section>

    <app-lot-expiration-list
      [lots]="lots()"
      [fecha]="fechaFormateada"
      title="Lotes de esta semana"
    />
  </section>
</main>
