<fieldset class="form__info-group">
  <legend class="info-group__description">Información de la cuenta</legend>
  <div class="info-group__input-container">
    <div class="input-container">
      <label>Contraseña<input type="password" id="Contraseña" formControlName="password" required /></label>
      @if (hasError('password', 'required')) {
      <p class="error__message">El campo es requerido</p>
      }
    </div>
    <div class="input-container">
      <label>Confirmar Contraseña<input type="password" id="CContraseña" formControlName="confirmPassword" required /></label>
      @if (hasError('confirmPassword', 'required')) {
      <p class="error__message">El campo es requerido</p>
      }
      @if (form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched) {
      <p class="error__message">Las contraseñas no coinciden.</p>
      }
    </div>
  </div>
</fieldset>
