<div class="form__container">
  <main class="form">
    <h1>Formulario de Registro</h1>
    <form class="form__form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <fieldset class="form__info-group">
        <legend class="info-group__description">Información del Usuario</legend>
        <div class="info-group__input-container">
          <app-name-inputs />
          <div class="input-container">
            <label
              >Número de Documento<input
                type="number"
                formControlName="documentNumber"
                minlength="8"
                required
            /></label>
            @if (hasError('documentNumber','required')) {
            <p class="error__message">El campo es requerido</p>
            } @if(hasError('documentNumber','minlength')){
            <p class="error__message">Debe contener mínimo 8 caracteres</p>
            }
          </div>
        </div>
      </fieldset>
      <fieldset class="form__info-group">
        <legend class="info-group__description">Información de contacto</legend>
        <div class="info-group__input-container">
          <div class="input-container">
            <label
              >Email<input
                type="email"
                formControlName="email"
                placeholder="email@gmail.com"
                required
            /></label>
            @if (hasError('email','required')) {
            <p class="error__message">El campo es requerido</p>
            } @if(hasError('email','email')){
            <p class="error__message">Correo electrónico inválido</p>
            }
          </div>
          <div class="input-container">
            <label
              >Teléfono<input
                type="number"
                formControlName="phoneNumber"
                placeholder="0123456789"
                required
            /></label>
            @if (hasError('phoneNumber','required')) {
            <p class="error__message">El campo es requerido</p>
            } @if(hasError('phoneNumber','minlength')){
            <p class="error__message">Debe contener mínimo 10 caracteres</p>
            }
          </div>
        </div>
      </fieldset>
      <app-password-fieldset />
      <div class="form__button-container">
        <input
          type="submit"
          value="Registrarse"
          class="form__button"
          [disabled]="registrationForm.invalid"
        />
      </div>
      <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></p>
    </form>
  </main>
</div>
