@import "tailwindcss";

:root{
    --color-background-white: #F1F3F2;
    --color-background-gray: #e9f5ee;
    --color-background-green: #1b4332;
    --color-font-1: #1B4332;
    --color-font-2: #74837B;
}

* {
    font-family: 'DMSans';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url("../public/font/DMSans.woff2");
    font-weight: 1000;
    font-display: swap;
}
